@charset "utf-8";
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    font-family: "微软雅黑";
    color: #000;
    font-size: 14px;
    box-orient: vertical;
    box-align: stretch;
    line-height: 1em;
    background: #fff;
    overflow-x: hidden;
}

input,
textarea {
    -webkit-user-select: text;
    -webkit-appearance: none;
    -moz-user-select: text;
    -moz-appearance: none;
    -ms-user-select: text;
    -ms-appearance: none;
    -o-user-select: text;
    -o-appearance: none;
    user-select: text;
    appearance: none;
}

section,
nav,
article,
aside,
hgroup,
header,
footer {
    display: block
}

input,
textarea,
select,
button,
table {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

img,
fieldset {
    border: 0
}
ul,
ol,
li {
    list-style: none;
    margin:0;
    padding:0;
    border:none;
}

i,
em,
address {
    font-style: normal
}

a {
    color: inherit;
    text-decoration: none
}


/*公共*/

.clear {
    clear: both
}

.fl {
    float: left;
}
.ri {
    float: right;
}

/*------------------------------------------首页---------------------------------------------*/
/*头部*/

.yyz-header {
    position: relative;
    width:100%;
    height:60px;
    z-index:999;
    background: #303747;
    line-height:60px;
}
.yyz-header-left{width:480px;color:#4899da;font-size:30px;font-weight: 900;text-align: center}
.yyz-header-right{font-size:20px;color:#c4ccda;}
.yyz-header-right a {display: block;padding:0 48px;}
.yyz-header-right ul{position: relative;}
.yyz-header-right ul li{float:left;}
.yyz-header-right ul li img{margin-right:10px;vertical-align:middle;margin-top:-5px;}
.yyz-header-right i,.tab li i{margin-top: -3px;border-bottom:3px solid #76b5e8;display: none}
.yyz-header-right em{width:10px;height:10px;background: #eb7e5d;position: absolute;right:42px;top:16px;border-radius: 50%}
.yyz-header-right .current a{background: #3b4255;color:#76b5e8;}
.yyz-header-right .current i,.tab li:hover i,.tab .current i{display: block;}


/*内容*/
.yyz-main{position: relative;padding:20px;background: #637085;height:100%;width: calc(100% - 40px);width:-webkit-calc(100% - 40px);width:-moz-calc(100% - 40px);width:-ms-calc(100% - 40px);width:-o-calc(100% - 40px);}
.yyz-main-left{width:440px;background: #3c4356;display: table-cell;vertical-align:top;}
.yyz-main-right{display: table-cell;vertical-align:top;padding-left:20px;}
/*----------------左边----------------*/
.yyz-main-in{position: relative;margin:10px 20px;display: table}
.srt{display: table-cell;border-top-left-radius: 5px;border-bottom-left-radius: 5px; background:#ecedee;border:0;height:30px;width:350px;color:#59788e;line-height:30px;padding-left:10px;}
.ss{display: table-cell;border-top-right-radius: 5px;border-bottom-right-radius: 5px;width:40px;height:30px;background: #76b5e8;text-align: center;vertical-align:middle;cursor: pointer;}
.srt2{margin-top:10px;border:0;border-radius:5px;width:120px;height:26px;color:#335771;}
.sr{margin-left:15px;}
.sx{line-height:58px;border-top:1px solid #a1a4ac;border-bottom:1px solid #a1a4ac;margin-top:30px;color:#c4ccda;}
.sx span{margin-right:10px;cursor: pointer;}
.sx .current{color:#76b5e8;}
.yyz-main-tab{width: calc(100% - 40px);width:-webkit-calc(100% - 40px);width:-moz-calc(100% - 40px);width:-ms-calc(100% - 40px);width:-o-calc(100% - 40px);margin:0 auto;position: relative;}
.tab{display:table;line-height:58px;border-bottom:1px solid #a1a4ac;position: relative;height:58px;width:100%;}
.tab li{ display: table-cell; text-align: center;cursor: pointer;color:#c4ccda;}
.tab li:hover,.tab .current{color:#76b5e8;}

/*分页内容*/
.yyz-main-tb{position: relative;}
.yyz-main-tt{width:100%;position: relative;color:#c4ccda;}
.yyz-main-tt a{border-bottom: 1px solid #a1a4ac;padding:20px 0;line-height:20px;display: block;}
.yyz-main-tt li{width:100%;}
.yyz-main-tt li:hover{background: #333947;}
.yyz-main-tt span{display: table-cell;}

/*分页*/
.pagination{position: relative;text-align:right;margin:10px;top:20px;}
.pagination a {
    text-decoration: none;
    color: #3c4355;
    background: #c4ccda;
    line-height:20px;
    height:20px;
    padding:0 6px;
    border-radius: 3px;
    margin-right:10px;
}

.pagination .current {
    background: #3c4355;
    color: #c4ccda;
}

.pagination .current.prev, .pagination .current.next{
    color:#3c4355;
    background:#c4ccda;
}
/*----------------右边地图----------------*/
.zsdt{width:100%;height:975px;}

/*楼宇列表*/
.fanhui{padding:5px 15px;background: #399fc0;color:#fff;}
.xiangqing{line-height: 25px;font-size:14px;color:#c4ccda;padding:15px 0;}
.biaoti{font-size:16px;}

/*热力分析*/
.yyz-main-tt-left{margin-left:20px;line-height:40px;}
.yyz-main-tt-right{margin-right:20px;line-height:40px;}
.tt-fl li{float:left;}

/*热力分析*/
.dizhi{color:#76b5e8;text-decoration:underline;position: absolute;top: 20px;right: 0;}
.chengse{color:#eb7e5d;}
.zhengc{position: absolute;right:0;top:0px;}
.zhengc span{border:1px solid #fff;color:#fff;padding:5px 15px;cursor: pointer;margin-left:5px;}
.zhengc span:hover,.zhengc span.current{border:1px solid #76b5e8;color:#76b5e8;}